@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.app {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.w-100{
    width: 100%;
}

.mx-w-1100{
    max-width: 1100px;
}

.min-w-400 {
    width: 600px;
}

.min-h-4{
    min-height: 4rem;
}

.m-rl-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-l-auto {
    margin-left: auto;
}

.m-rl-2{
    margin-left: 2rem;
    margin-right: 2rem;
}

.m-t-3{
    margin-top: 3rem;
}

.header-font {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.pd-10{
    padding: 10px;
}

.pd-20{
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.pd-t-60{
    padding-top: 50px;
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bg-gr{
    background-color: rgb(39, 174, 96);
}

.bg-gl {
    background-color: rgb(254, 206, 31);
}

.bg-wh{
    background-color: rgb(255, 255, 255);
}

.bg-bl{
    background-color: aqua;
}

.bg-lgr {
    background-color: rgb(156, 202, 135);
}

.bg-or{
    background-color: rgb(241, 217, 189);
}

.logo-container {
    max-width: 9rem;
    cursor: pointer;
}

.luck-irish-container {
    max-width: 40rem;
    margin-top: 3rem;
}

.ether-logo {
    max-width: 1rem;
}

.link-text {
    text-decoration: none;
}

.dashed-border {
    border-style: dashed;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-color: rgb(240, 118, 19);
}

.border-cl-gr {
    border-color: rgb(5, 90, 5);
}

.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 145px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}


@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(180deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1440deg);
    }
}
